*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cards{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}

.card{
    width: 22%;
    border: 1px solid black;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.card img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-text{
    width: 100%;
    padding: 8px 25px;
    color: white;
    bottom: -25px;
    position: absolute;
    background-color: rgba(38, 255, 237, 0.541);
    transition: 0.5s;
}

.card-text a{
    text-decoration: none;
    color: crimson;
}

.card-text h4{
    margin: 6px 0;
}

/* .card-text:hover{
    bottom: 0;
} */

.card:hover{
    transform: rotate(360deg);
}

/* @media screen and (max-width:250px) and (max-width:600px){
    
} */

